{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	Login
{% endblock title %}

{% block content %}
<div class="mt-5 col-lg-8 mx-auto py-5 px-2">
	<div class="p-3 bg-light rounded">
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				<legend>Log In</legend>
				<hr>
				{{ form|crispy }}
			</fieldset>
			<div>
				<button type="submit" class="btn btn-primary">Login</button>
				<small class="ms-2">
					<a href="{% url 'password_reset' %}">Forgot Password?</a>
				</small>
			</div>
		</form>
		<hr>
		<small>Need an account? <a href="{% url 'register' %}">Register</a></small>
	</div>
</div>
{% endblock content %}
