{% extends 'blog/base.html' %}

{% block title %}
	About
{% endblock title %}

{% block content %}
	<div class="container py-5 mt-5">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="card">
					<div class="card-body">
						<h3 class="text-center">About Blixly</h3>
						<p class="lead">
							<b>Blixly</b> is a personal blog application built to demonstrate my skills in backend web development. This project is created using Django, and front-end technologies like HTML, CSS, and Bootstrap.
						</p>
						<h4 class="text-warning">Key Features:</h4>
						<ul>
							<li><b>User Authentication:</b> Secure login and registration for personalized user experience.</li>
							<li><b>CRUD Operations:</b> Create, read, update, and delete blog posts easily.</li>
							<li><b>Responsive Design:</b> A mobile-friendly interface designed with Bootstrap to ensure a seamless user experience on all devices.</li>
							<li><b>Backend Powered by Django:</b> The app is built using Django, leveraging its robust features for handling backend processes, including database management and user authentication.</li>
						</ul>
						<h4 class="text-warning">Technologies Used:</h4>
						<p>
							The following technologies were used to build this blog application:
						</p>
						<ul>
							<li><b>Backend:</b> Django, Python</li>
							<li><b>Frontend:</b> HTML, CSS, Bootstrap</li>
						</ul>
						<p>
							This app is both a personal project and a demonstration of my backend development skills. Feel free to check out the source code on <a href="#" target="_blank">GitHub</a>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}