{% load static %}
{% block extrahead %}
	<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
	{{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="shortcut icon" href="{% static 'images/blog.png' %}" type="image/x-icon">
	<title>
		{% block title %}
		{% endblock title %}
	</title>
</head>
<body class="d-flex flex-column min-vh-100" style="background-color: #e9a27ba8;">
	<header>
		<div class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #ff822e;">
			<div class="container-fluid mx-3">
				<a href="{% url 'blog-home' %}" class="navbar-brand"><b>Blixly</b></a>
				<button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#content" aria-controls="content">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="content">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a href="{% url 'posts' %}" class="nav-link">Posts</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'blog-about' %}" class="nav-link">About</a>
						</li>
					</ul>
					{% if user.is_authenticated %}
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a href="{% url 'post-add' %}" class="nav-link">New Post</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'profile' %}" class="nav-link">Profile</a>
							</li>
							<li class="nav-item">
								<form action="{% url 'logout' %}" method="post">
									{% csrf_token %}
									<button type="submit" class="btn nav-link">Logout</button>
								</form>
							</li>
						</ul>
					{% else %}
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a href="{% url 'login' %}" class="nav-link">Login</a>
							</li>
							<li class="nav-item">
								<a href="{% url 'register' %}" class="nav-link">Register</a>
							</li>
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
	</header>

	
	<main>
		{% for message in messages %}
		<div class="pt-5">
			<div class="alert alert-success mt-5 mx-5">
				{{ message }}
			</div>
		</div>
		{% endfor %}

		{% block content %}
		{% endblock content %}
	</main>
	<footer class="mt-auto">
		<div class="container-fluid text-center" style="background-color: #ff822e; padding: 50px 0px 50px 0px;">
			<div>&copy; 2025 Blixly. All Rights Reserved.</div>
			<p>Check out my <a href="#" target="_blank" class="text-danger">Portfolio</a> for more projects and details.</p>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script></body>
</body>
</html>