{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	Comment Delete
{% endblock title %}

{% block content %}
<div class="mt-5 col-lg-8 mx-auto py-5 px-2">
	<div class="p-3 bg-light rounded" style="word-wrap: break-word; overflow-wrap: break-word;">
		<h2>Are you sure you want to delete your comment?</h2>
		<hr>
		<form method="POST">
			{% csrf_token %}
			<fieldset>
				{{ form|crispy }}
			</fieldset>
			<button class="btn btn-danger" type="submit">Yes, Delete</button>
			<a href="{% url 'blog-home' %}" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</div>
{% endblock content %}
