{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
	Homepage
{% endblock title %}

{% block content %}
	<div class="bg-container">
		<div class="text-center fw-bold" style="padding-top: 350px; font-size: 5rem;">Blixly</div>
		<div class="text-center fs-4">Where clarity meets insight</div>
	</div>
	<div class="container-fluid my-4">
		{% for post in page_obj %}
			<div class="row">
				<div class="col"></div>
				<div class="col-10">
					<div class="my-3 p-3 rounded" style="background-color: #fffdd0; word-wrap: break-word; overflow-wrap: break-word;">
						<div class="d-flex flex-row mb-3">
							<div class="p-1">
								<img src="{{ post.author.profile.image.url }}" alt="image" class="border rounded-circle" style="width: 50px; height: 50px;">
							</div>
							<div class="p-1 mt-2">
								<a href="{% url 'author-posts' post.author.username %}" class="h6 text-decoration-none">{{ post.author }}</a>
							</div>
						</div>
						<a href="{% url 'post-detail' post.pk %}" class="text-decoration-none link-dark">
							<h2 class="fw-bold mb-3">{{ post.title }}</h2>
						</a>
						<h4>{{ post.content }}</h4>
						<div class="mt-4 text-muted h6 d-flex flex-row">
							<div>{{ post.date_posted }}</div>
							<div class="ms-auto d-flex flex-row">
								<div class="flex-item">
									<form action="{% url 'post-like' post.pk %}" method="post">
										{% csrf_token %}
										{% if user in post.likes.all %}
											<button type="submit" class="btn btn-dark">
												<img src="{% static 'images/like-fill.png' %}" style="width: 30px; height: 30px;">
												<span style="color: #0D6EFD; font-weight: bold;">
													{{ post.number_of_likes }}
												</span>
											</button>
										{% else %}
											<button type="submit" class="btn btn-dark">
												<img src="{% static 'images/like.png' %}" style="width: 30px; height: 30px;">
												<span style="color: #0D6EFD; font-weight: bold;">
													{{ post.number_of_likes }}
												</span>
											</button>
										{% endif %}
									</form>
								</div>
								<div class="mt-2 text-white flex-item">
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
		{% endfor %}
			<div class="row">
				<div class="col"></div>
				<div class="col-10">
					<a href="{% url 'posts' %}" class="btn btn-secondary">See more</a>
				</div>
				<div class="col"></div>
			</div>
	</div>
{% endblock content %}
